.teams {
    padding: 32px;
    position: relative;
    text-align: center;
}

.teams h3 {
    color: #212121;
    display: inline-block;
    font-family: "Prata";
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 8px;
}

.cardsCointaier {
    align-items: center;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.inputColor {
    position: absolute;
    right: 50px;
    top: 20px;
}
