.footer {
    align-items: center;
    background-color: #6278f7;
    color: #ffffff;
    display: flex;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    height: 213px;
    justify-content: space-around;
}

.socialMedias {
    display: flex;
    list-style-type: none;
}

.socialMedias > li {
    margin-right: 32px;
}
